@font-face {
  font-family: "Baloo da 2";
  src: url("/fonts/BalooDa2-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo da 2", cursive;
}

html {
  font-size: 62.5%;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  animation: scale 25s infinite alternate;
}

@keyframes scale {
  0% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  perspective: 100rem;
  overflow: hidden;
}

.countdown-wrapper {
  width: 100%;
  position: absolute;
  top: 10%;
  text-align: center;
  color: #ddd;
}

.countdown-wrapper h1 {
  font-size: 8rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 3rem;
  text-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.5);
}

.countdown {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10rem;

  /* align grid itself */
  align-content: center;
  justify-content: center;
  /* align items */
  justify-items: center;
  align-items: center;
}

.countdown div {
  width: 13rem;
  height: 13rem;
  background: linear-gradient(to bottom,
      rgba(61, 58, 58, 1) 50%,
      rgba(99, 93, 93, 1) 0);
  /* margin: 0 4rem 12rem 4rem; */
  font-size: 7rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.8rem 2.5rem rgba(0, 0, 0, 0.5);
  position: relative;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

.countdown div::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
}

.countdown div::after {
  content: attr(data-content);
  font-size: 3rem;
  font-weight: 400;
  position: absolute;
  bottom: -6rem;
}

@media (max-width: 860px) {
  .countdown {
    grid-template-columns: auto auto;
  }
}

/* Be resposive... */
@media (max-width: 750px) {

  .countdown div {
    font-size: 7rem;
  }

  .countdown-wrapper {
    top: 5%;
  }

  .countdown-wrapper h1 {
    margin-bottom: 5rem;
  }

  .countdown div::after {
    bottom: -5rem;
  }
}

@media (max-width: 630px) {

  .countdown-wrapper h1 {
    font-size: 7rem;
  }

  .countdown div {
    width: 12rem;
    height: 12rem;
    font-size: 6rem;
  }

}

@media (max-width: 560px) {

  .countdown-wrapper h1 {
    font-size: 6rem;
  }

}

@media (max-width: 470px) {

  .countdown-wrapper h1 {
    font-size: 5rem;
  }

}

@media (max-width: 400px) {

  .countdown-wrapper h1 {
    font-size: 4rem;
  }

  .countdown div {
    width: 11rem;
    height: 11rem;
  }

}

@media (max-width: 380px) {

  .countdown-wrapper h1 {
    font-size: 4rem;
  }

  .countdown div {
    width: 8rem;
    height: 8rem;
    font-size: 4rem;
  }

}

@media (max-width: 320px) {

  .countdown {
    gap: 8rem;
  }

  .countdown-wrapper h1 {
    font-size: 3rem;
  }

  .countdown div {
    width: 7rem;
    height: 7rem;
  }

}

@media (max-width: 306px) {

  .countdown {
    gap: 6rem;
  }

  .countdown-wrapper h1 {
    font-size: 3rem;
  }

  .countdown div {
    width: 6rem;
    height: 6rem;
  }

  .countdown div::after {
    font-size: 2rem;
    bottom: -3rem;
  }

}